.navbar {
  margin-bottom: 0;
}

.jumbotron {
  height: 500px;
  display: flex;
  align-items: center;
}

.app-row {
  margin: 36px;
}

.app-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-image {
  height: 200px;
}

.app-link {
  margin-right: 12px;
}

.skills-section {
  display: flex;
  justify-content: center;
}

.tech-logo {
  height: 80px;
  margin: 24px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 48px;
  margin: 24px;
}
